---
import type { CollectionEntry } from "astro:content";
import Phone from "@tabler/icons/outline/phone.svg";
import Mail from "@tabler/icons/outline/mail.svg";

interface Props {
  contactPersons: CollectionEntry<"events">["data"]["contactPersons"];
}

const { contactPersons } = Astro.props;
---

{
  contactPersons && contactPersons.length > 0 && (
    <div class="rounded-lg border bg-card text-card-foreground shadow-sm">
      <div class="p-6">
        <h3 class="font-sans text-xl font-medium tracking-tight mb-4">
          Contact
        </h3>
        <div class="flex flex-col gap-5">
          {contactPersons.map((person) => (
            <div
              class={
                person.isPrimary
                  ? "relative pl-3 border-l-2 border-primary"
                  : ""
              }
            >
              <p class="font-sans text-sm font-medium flex items-center gap-2">
                {person.name}
                {person.isPrimary && (
                  <span class="font-mono text-[10px] uppercase tracking-widest text-primary bg-primary/10 px-1.5 py-0.5 rounded">
                    Primary
                  </span>
                )}
              </p>
              <p class="font-sans text-xs text-muted-foreground mb-2">
                {person.role}
              </p>

              <div class="flex flex-col gap-1">
                {person.email && (
                  <a
                    href={`mailto:${person.email}`}
                    class="flex items-center gap-2 font-mono text-xs text-muted-foreground hover:text-primary transition-colors"
                  >
                    <Mail class={"size-4"} />
                    {person.email}
                  </a>
                )}
                {person.phone && (
                  <a
                    href={`tel:${person.phone}`}
                    class="flex items-center gap-2 font-mono text-xs text-muted-foreground hover:text-primary transition-colors"
                  >
                    <Phone class={"size-4"} />
                    {person.phone}
                  </a>
                )}
              </div>
            </div>
          ))}
        </div>
      </div>
    </div>
  )
}
